{% extends 'AGBaseBundle::meta.html.twig' %}

{% block body %}
    {{ parent() }}
    {% block top_navbar %}
        {% include 'AGBaseBundle::topNavbar.html.twig' %}
    {% endblock %}

    <div class="container main-container">
        {% block notifiers %}
            {% include 'AGBaseBundle::notifiers.html.twig' %}
        {% endblock %}
        
        {% block messages %}
            {% include 'AGBaseBundle::messages.html.twig' %}
        {% endblock %}
        
        {% block content %}{% endblock %}
    </div>
        
    {% include 'AGBaseBundle::footer.html.twig' %}

{% endblock %}



