<!--<form class="ulogin-form">
    <div id="{{uloginId}}" data-uloginid="e25b34c2"></div>
</form>-->

<form stop-event="click" class="ulogin-form">
<div id="{{uloginId}}" data-ulogin="display=panel;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=http://autog.ru/ulogin.php"></div>
</form>