<form class="ulogin-form">
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="{{uloginId}}" data-ulogin="display=panel;fields=first_name,last_name;providers=vkontakte,facebook,mailru,google;hidden=other;redirect_uri=http%3A%2F%2Ftest.home"></div>
</form>
