<div class="modal-header">
    <h4 class="modal-title">Пригласить в AutoGRU</h4>
</div>
    <div class="modal-body text-center">
        <h4>Оставтье владельцу автомобиля сообщение об AutoGRU</h4>
        <p>Например такое:</p>
        <div class="alert alert-info">— Ваш автомобиль мешает! Зарегистрируйтесь на AutoGRU!</div>
        <div class="alert alert-info">— Ни таблички, ни записки! И на AutoGRU нет!</div>
        <div class="alert alert-info">— Научитесь парковаться и зарегистрируйтесь на AutoGRU!</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-ban fa-lg"></i> Отмена</button>
    </div>
</form>
