.search-results {
    text-align: center;
}
#sendSmsTеxt {

    border: 0px;
    border-bottom: 1px dashed #fff;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
}
